.mySelectDefault .cancelContainer {
  display: none;
  margin: 0.5em 2.5em 0.5em 0.5em;
}
.mySelectDefault.valueSelected .cancelContainer {
  display: inline-block;
}
.cancelContainer {
  border: 1px solid gray;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 20px;

}
.cancelContainer:hover .cancelContent {
  color: lightgray;
}
.cancelContainer:active .cancelContent {
  color: lightblue;
}
.cancelContent {
  display: inline-block;
  height: 20px;
}
