.mySelectDefault .fieldset .downArrowContainer {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3em;
  cursor: pointer;
}

.mySelectDefault.roundedCorners .fieldset .downArrowContainer {
  border-radius: 0 0.5em 0.5em 0;
}
.mySelectDefault.selectOpen.roundedCorners .fieldset .downArrowContainer {
  border-radius: 0 0.5em 0 0;
}

.mySelectDefault .fieldset .downArrowContainer:hover {
  background-color: lightgrey;
}

.mySelectDefault .fieldset .downArrowContainer .downArrowContent {
  color: lightgray;
}
.mySelectDefault .fieldset .downArrowContainer:active .downArrowContent {
  color: lightblue;
}

.downArrowContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
